body{
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color: white;
    text-decoration: none;
}
body header nav{
    height: 8vh;
    width: 100%;
    position:relative;
    background-image: linear-gradient(to bottom right,rgb(138, 4, 4),rgb(227, 107, 107));
}
body header nav .icon{
    display: inline-block;
    color: white;
    font-size: 6vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 1vw;
}
body header nav #heading{
    display: inline-block;
    position: relative;
    color: whitesmoke;
    font-family: fantasy;
    font-size: 1.5rem;
    margin-left: 5vh;
}
body header .menu{
    background-image: linear-gradient(rgb(177, 11, 11),rgb(243, 78, 78));
    box-shadow: inset 0 0.8vh rgb(177, 11, 11);
    height: 6vh;
    width: 100%;
    z-index: 10;
}
body header .menu ul{
    margin: 0;
    height: 100%;
    color: white;
    width: 100%;
    display: inline-flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-5vh);
}
body header .menu ul li{
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: 100%;
}
body header .menu ul li:hover{
    border-radius: 2vh;
    padding: 0.2vh;
    padding-left: 0.8vh;
    padding-right: 0.8vh;
    background-color: rgb(33, 118, 198);
}
body header .menu ul .curr{
    color: rgb(152, 4, 4);
    padding: 1vh;
    background-color: rgb(184, 218, 249);
}
body header .menu ul .curr:hover{
    z-index: 5;
    padding: 1vh;
    border-radius: 0;
    background-color: rgb(184, 218, 249);
}


main{
    height: 80vh;
}

.contact_us_green * {
    font-family: Nunito, sans-serif;
  }
  
  /* .contact_us_green .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  } */
  
  /* .contact_us_green input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  } */
  
  /* .contact_us_green textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  } */
  
  /* .contact_us_green .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  } */
  
  /* .contact_us_green .responsive-cell-block {
    min-height: 75px;
  } */
  
  .contact_us_green .responsive-container-block.container {
    max-width: 1320px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  }
  
  .contact_us_green .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  
  .contact_us_green .text-blk.contactus-head {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .contact_us_green .text-blk.contactus-subhead {
    max-width: 385px;
    color: #939393;
    font-size: 18px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_green .contact-svg {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 65px;
    height: 40px;
  }
  
  .contact_us_green .social-media-links {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact_us_green .social-svg {
    width: 35px;
    height: 35px;
  }
  
  /* .contact_us_green .text-box {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  } */
  
  .contact_us_green .contact-text {
    color: #939393;
  }
  
  /* .contact_us_green .input {
    height: 50px;
    width: 90%;
    border-top-width: 2.5px;
    border-right-width: 2.5px;
    border-bottom-width: 2.5px;
    border-left-width: 2.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
  } */
  
  /* .contact_us_green .textinput {
    height: 200px;
    width: 95%;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #a2a2a2;
    border-right-color: #a2a2a2;
    border-bottom-color: #a2a2a2;
    border-left-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
  } */
  
  /* .contact_us_green .submit-btn {
    min-width: 290px;
    height: 60px;
    background-color: #1c3b28;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    cursor: pointer;
  } */
  
  .contact_us_green .btn-wrapper {
    display: flex;
    justify-content: center;
  }
  
  /* .contact_us_green .text-blk.input-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  } */
  
  /* .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
   */
  /* .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  /* .contact_us_green .head-text-box {
    display: none;
  } */
  
  /* .contact_us_green .line {
    border-right-width: 1.8px;
    border-right-style: solid;
    border-right-color: #a2a2a2;
  } */
  
  /* .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
  } */
  
  @media (max-width: 1024px) {
    .contact_us_green .responsive-container-block.container {
      justify-content: center;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      max-width: 90%;
    }
  
    .contact_us_green .head-text-box {
      display: block;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 60px;
      padding-left: 0px;
    }
  
    .contact_us_green .line {
      border-right-width: initial;
      border-right-style: none;
      border-right-color: initial;
      border-bottom-width: 1.8px;
      border-bottom-style: solid;
      border-bottom-color: #a2a2a2;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: flex;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .contact_us_green .text-content {
      display: none;
    }
  
    .contact_us_green .input {
      width: 100%;
    }
  
    .contact_us_green .textinput {
      width: 100%;
    }
  
    .contact_us_green .text-blk.contactus-head {
      font-size: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_green .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: block;
    }
  
    .contact_us_green .text-blk.input-title {
      font-size: 16px;
    }
  
    .contact_us_green .text-blk.contactus-head {
      font-size: 26px;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      font-size: 16px;
      line-height: 23px;
    }
  
    .contact_us_green .input {
      height: 45px;
    }
  
    .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin: 0 0 25px 0;
    }
  }



footer{
    padding: 1vh;
    padding-bottom: 2vh;
    width: 100%;
    background-color: rgb(87, 78, 78);
    color: white;
}





header nav form{
    visibility: hidden;
    position: relative;
    display: inline-block;
    margin-left: 35vw;
}
header nav .upper{
    width: 15vw;
}
header form button{
    background-color: rgb(207, 24, 24);
}
header form button:hover{
    background-color: rgb(249, 22, 22);
}
header nav form button i{
    color: white;
}




@media only screen and (max-width: 1285px){
 header nav form{
    margin-left: 25vw;
 }
}
@media only screen and (max-width: 1016px){
    header nav form{
       margin-left: 15vw;
    }
}
@media only screen and (max-width: 820px){
    header nav form{
       margin-left: 5vw;
    }
    header nav .upper{
        width: 5vw;
    }
}
@media only screen and (max-width: 750px){
    header nav form{
       margin-left: 1vw;
    }
    header nav .upper{
        width: 5vw;
    }
}
@media only screen and (max-width: 630px){
    header nav form{
       margin-left: 5vw;
    }
    header nav .upper{
        width: 5vw;
    }
    body header .menu{
        height: 12vh;
    }
}

@media only screen and (max-width: 540px){
   header nav form input[type=submit]{
    width: 5vw;
   } 
}